body {
    /* background-image: url(https://images.unsplash.com/photo-1543536481-bf91777453de?ixlib=rb-0.3.5&s=0ffde0e2185104506c349126c687951c&auto=format&fit=crop&w=1189&q=80); */
    background-repeat: no-repeat;   
    background-size: cover;
    font-family: 'Fjalla One', sans-serif;
    background-color: black;
}

.bg-dark {
    background: rgba(51, 0, 0, 0.9) !important;
}

.navbar {
    letter-spacing: 0.1rem; 
}


.fa-linkedin {
    color: #0077B5; 
}

.fa-linkedin:hover {
    color: rgba(0, 118, 181, 0.504);
}

.fa-envelope {
    color: rgba(178, 49, 33, 0.7);
}

.fa-envelope:hover {
    color: rgba(124, 23, 10, 0.504);
}

.fa-github {
    color: #333;
}

.fa-github:hover {
    color: rgb(100, 100, 100);
}
